@model CsdsShop.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Id)  @Html.DisplayFor(model => model.Name)</h1>



    <hr />
    <div class="row">
        <dl class="col-6 row">
            
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </dd>
             <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.CellNum)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.CellNum)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Notes)
            </dd>
        </dl>
        <dl class="col-6 row">
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.AccountToCredit)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.AccountToCredit)
            </dd>
            
        </dl>
    
    </div>
</div>
<div style="display: flex; justify-content: center;">
 <a style="margin:10px;" class="btn-secondary btn" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
 <a style="margin:10px;" class="btn-primary btn" asp-action="Index">Back to List</a>
</divstyle>
