@model CsdsShop.Models.ItemDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>
<h2>@Model.Id</h2>
<img src="@Model.ImgUrl" class="img-fluid img-thumbnail" alt="" style="max-width: 300px; max-height: 200px;" >

<div>
@*    <h4>Item</h4>*@ 
   <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeePercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeePercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
