@model IEnumerable<CsdsShop.Models.ItemListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Items</h1>

<p>
    <a class="btn-primary btn" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr onclick="window.location='@Url.Action("Details", "Items", new {Id = item.Id})'">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td style="width: 12%;">
                <img src="@item.ImgUrl" class="img-fluid img-thumbnail" alt="">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                <a class="btn btn-sm btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <br />
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <br />
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
